---
name: Ruby

on:
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
      with:
        ruby-version: '2.6.3'
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: setup
        run bundle exec bin/setup
    - name: Run tests
      run: bundle exec rake spec
